{{>nav}}
<!-- Form Document -->
<div class = 'container'>

	<h1>Friends</h1>

	<div class = 'row'>

		<div class = 'col-md-5'>

			<div class = 'well well-lg'>
				<h1>Hospitals</h1>
				<p>{{hospitalName}}</p>
				<p>{{hospitalAddress}}</p>
				<p>{{hospitalPhone}}</p>
			</div>
		
		</div>
		
		<div class = 'col-md-5 col-md-offset-1'>
			
			<div class = 'well well-lg'>
				<h1>Blood Banks</h1>
				<p>{{bloodName}}</p>
				<p>{{bloodAddress}}</p>
				<p>{{bloodPhone}}</p>
			</div>
		
		</div>
	
	</div>

</div>


</div>

<!-- Footer -->


	
</body>


<script type="text/javascript">

//pull information from database concerning companies willing to help

//display information on screen




</script>
</html>