{{>nav}}
<!-- jumbotron -->
	<div class="jumbotron">
		<div class="video-container">
			<video preload="auto" autoplay="autoplay" loop="loop" muted="muted">
				<source src="images/crisis-corps-video.mp4" type="video/mp4">
			</video>

			<div class="video-overlay">
				<h1>Volunteer Today, Help Tomorrow</h1>
				<a href="signup" class="btn btn-lg btn-primary">Sign Up</a>
			</div>
		
		</div>

	</div>

	<!-- About -->
	<div class = "container">

		<div class="jumbotron">
		  	<h1>About</h1>
		  	<p>...</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>


	<!--Friends -->
		<div class = 'row'>

		<div class = 'col-md-5'>

			<div class = 'well well-lg'>
				<h1>Hospitals</h1>
				<p>{{hospitalName}}</p>
				<p>{{hospitalAddress}}</p>
				<p>{{hospitalPhone}}</p>
			</div>
		
		</div>
		
		<div class = 'col-md-5 col-md-offset-1'>
			
			<div class = 'well well-lg'>
				<h1>Blood Banks</h1>
				<p>{{bloodName}}</p>
				<p>{{bloodAddress}}</p>
				<p>{{bloodPhone}}</p>
			</div>
		
		</div>

		</div>
	</div>


</body>


<script type="text/javascript">




</script>
</html>