{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">
		<div class="row">

			<div class="col-md-6">

				<!-- profile -->
				<div class="module-header">
					<h5>Profile</h5>
				</div>
				<div class='module'>
					<!-- Form Document -->
					<form>
						
						<div class="form-group">
							
							<div id = "Name">
						    	<label for="createTask">Member Name</label>
						    	<input type="text" class="form-control" id="memberName" value="{{member.[0].userName}}">					    		
					    		<br>
						    	
						    	<label for="description">Email Address</label>
						    	<input type="email" class="form-control" id="emailAddress"  value="{{member.[0].emailAddress}}">
						    	<br>

						    	<label for="inputPassword">Password</label>
			    				<input type="password" class="form-control" id="inputPassword">
			    				<br />

						    	<label for="createTask">Contact Number</label>
						    	<input type="text" class="form-control" id="contactNumber"  value="{{member.[0].contactNum}}">
					    		<br>

						    	<label for="bloodType">Blood Type {{member.[0].bloodType}}</label>
							    <select class="form-control" id="blood-type">
							    	<option>--Select an Option--</option>
									<option>A</option>
									<option>B</option>
									<option>AB</option>
									<option>O</option>
									<option>I Don't Know / NA</option>
								</select>
								<br />

								<!-- Submit -->
						  		<a href="#" class="btn btn-primary" id="update-profile" data-toggle="modal" data-target="#updateProfileModal">Update Profile</a>
					    	</div>
					    </div>
					</form>
				</div> <!-- end module -->

			</div> <!-- end col-md-6 -->


<!-- ****************** this is where the new column starts **	******************* -->


			<div class="col-md-6">

				<!-- corporate profile -->
				<div class="module-header">
					<h5>Corporate Profile</h5>
				</div>
				<div class='module'>
					<form>
						<label for="memberName">Company Name</label>
			    		<input type="text" class="form-control" id="companyName" value="{{corporation.[0].companyName}}"> 		
		    			<br>

		    			<label for="createTask">Member Name</label>
				    	<input type="text" class="form-control" id="memberName" value="{{corporation.[0].userName}}">					    		
			    		<br>
				    	
				    	<label for="description">Email Address</label>
				    	<input type="email" class="form-control" id="emailAddress" value="{{corporation.[0].companyName}}">
				    	<br>

				    	<label for="inputPassword">Password</label>
	    				<input type="password" class="form-control" id="inputPassword">
	    				<br />

				    	<label for="createTask">Contact Number</label>
				    	<input type="text" class="form-control" id="contactNumber"  value="{{corporation.[0].contactNum}}">
			    		<br>
							
						<div class="form-group">
						    <label for="inputDescription">Contribution</label>
						    <textarea class="form-control" rows="3" id="contribution">{{corporation.[0].donationDesc}}"</textarea>
						</div> <!-- form-group -->
					    <br />

						<!-- Submit -->
						<a href="#" class="btn btn-primary" id="update-corp-cont" data-toggle="modal" data-target="#updateCorpModal">Update Corporate Contribution</a>
					</form>
				</div> <!-- module -->

			</div> <!-- col-md-6 -->

		</div> <!-- end row -->
	</div> <!-- end container -->

	{{>admin-footer}}

	<!-- ******************************** modals ********************************** -->

	<!-- create crisis manager Modal -->
	<div class="modal fade" id="updateCorpModal" tabindex="-1" role="dialog" aria-labelledby="updateCorpModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Crisis Manager Created</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>You can now begin creating tasks.</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- create crisis manager Modal -->
	<div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Your Profile Has Been Updated!</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>Thanksf for keeping us up to date with your info.</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div> <!-- end admin-body -->


<script type="text/javascript">

	$('#update-profile').on('click', function () {
	//pull values from form input
	var updateMember = {
		userName: $('#memberName').val().trim(),
		emailAddress: $('#emailAddress').val().trim(),
		password: $('#inputPassword').val().trim(),
		contactNum: $('#contactNumber').val().trim(),
		bloodType: $('#blood-type').val().trim(),
		userId: {{userID}}
	}
	console.log(updateMember);
	//push those values to database
	$.post('/updateMember', updateMember, function() {
		console.log(updateMember);
	})
	//refresh data base information. 

});

</script>