{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">
		<div class="row">

			<div class="col-md-6">
				<div class="module-header">
					<h5>Task to Volunteer for</h5>
				</div>
				<div class='module'>
					<div class="list-group">
						<h3 class="task-title">{{task.[0].taskTitle}}</h3>
						<h5>Volunteers Needed: {{task.[0].volsRemaining}}</h5>
				    	<p>{{task.[0].taskDescript}}</p>
				    	<p>{{task.[0].contactName}}</p>
				    	<p>{{task.[0].contactNum}}</p>
				    	<address>
				    		{{task.[0].taskAddress}}
				    		<br />
				    		{{#if task.[0].taskAddress2}}
				    			{{task.[0].taskAddress2}}
				    			<br />
				    		{{/if}}
				    		{{task.[0].taskCity}}, {{task.[0].taskState}} {{task.[0].taskZip}}
				    	</address>
				    	<a href="#" class="btn btn-primary" id="vol-for-task" data-task="{{task.[0].taskId}}" data-let="{{userID}}" data-toggle="modal" data-target="#myModal">I Will Volunteer</a>
					</div>
				</div> <!-- end module -->
			</div> <!-- end col-md-6 -->

		</div> <!-- end row -->
	</div> <!-- end container -->

	{{>subdir-admin-footer}}

	<!-- Thank You Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Thank You!</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>You've signed up for the Blood Donation at ORMC task. You should shortly receive a text with the address. Thanks for being active!</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div> <!-- end admin-body -->